In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
sns.set()
sns.set_context('talk')

import warnings
warnings.filterwarnings('ignore')

import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

In [21]:
df_A = pd.read_csv("datasets/original/airport/airports-extended.csv")

In [22]:
df_A = df_A[['Goroka Airport','Goroka','Papua New Guinea', 'GKA','AYGA','-6.081689834590001','145.391998291']]
df_A = df_A.rename(columns = {'Goroka Airport':'Facility Name','Goroka':'City','Papua New Guinea':'country','GKA':'ident'})
df_A = df_A.rename(columns = {'AYGA':'airport_ident','-6.081689834590001' : 'Lat','145.391998291':'Long'})

In [23]:
df_A

,Facility Name,City,country,ident,airport_ident,Lat,Long
0,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001
1,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005
2,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977
3,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001
4,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006
...,...,...,...,...,...,...,...
10662,Kandi,Kandi,Benin,KDC,DBBK,11.145056,2.940444
10663,Luxmore Hut Helipad,Te Anau,New Zealand,\N,\N,-45.385240,167.619250
10664,Tasman Glacier,Mt. Cook,New Zealand,\N,\N,-43.569905,170.235678
10665,Sokode,Sokode,Togo,\N,DXSK,8.994444,1.152778
10666,Sansanne,Mango,Togo,\N,DXMG,10.372222,0.470833

In [24]:

df_sub = pd.DataFrame({'Facility Name':['Goroka Airport'],'City':['Goroka'],'country':['Papua New Guinea'],'ident':['GKA'],'airport_ident':['AYGA'],'Lat':[-6.081689834590001],'Long':[145.391998291]})
df_sub

,Facility Name,City,country,ident,airport_ident,Lat,Long
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.08169,145.391998

In [25]:
df_sub = df_sub.append(df_A,ignore_index = True)
df_sub.to_csv('airport_processed.csv')

In [28]:
df2

     ident  length_ft    width_ft
0      0V4    15192.0   60.000000
1      19S    27200.0   80.000000
2      23M    12800.0   60.000000
3      2A5    15200.0   40.000000
4      2H0    39792.0  158.333333
...    ...        ...         ...
5171   ZWL    15200.0   75.000000
5172   ZXB    19684.0   98.000000
5173   ZYL    37912.0  150.000000
5174   ZZU    17164.0   62.000000
5175   ZZV    39996.0  150.000000

[5176 rows x 3 columns]

In [26]:
df2 = pd.read_csv("datasets/original/airport/airport_runway.csv")

In [27]:
df_runway = pd.merge(df_sub,df2, how = 'inner', on = 'airport_ident')
df_rw_sum = df_runway.groupby(['ident']).sum()
df_rw_sum = df_rw_sum[:-1]
df_rw_mean = df_runway.groupby(['ident']).mean()
df_rw_mean = df_rw_mean[:-1]
df_runway = df_rw_sum['length_ft'].to_frame().join(df_rw_mean['width_ft'].to_frame())
df_runway.to_csv('airport_runway.csv')

KeyError: 'airport_ident'

In [ ]:
df_city = pd.read_csv("cities_need.csv")
df_city.columns = ['ident','municipality']
df_single = pd.DataFrame([['ABE','allentown']],columns = ['ident','municipality'])
df_city = pd.concat([df_single, df_city]).reset_index(drop = True) 
df_city.to_csv('cities_needed.csv')

In [ ]:
df_RW = df_runway.merge(df_city, on = 'ident')

In [ ]:
df_airport_needed = df_city.merge(df_sub, how = 'left', on = 'ident')

In [ ]:
df_AP = pd.read_csv("airport_poneeded.csv")

In [ ]:
df_air = pd.read_csv('Airports_date.csv')
for i in df_air['City'].keys():
    df_air['City'][i] = str(df_air['City'][i]).lower()

In [ ]:
df_air = df_air[['Loc_Id','Activation_Date','Last_Inspection']]
df_air = df_air.rename(columns = {'Loc_Id':'airport_ident'})
df_air['Activation_Date'].isnull().sum()

In [ ]:
df_AAA = df_airport_needed.merge(df_air, how = 'left', on = 'airport_ident')

In [ ]:
df_AAA

In [ ]:
df_AAA['Activation_Date'].isnull().sum()

In [ ]:
df = pd.merge(df_sub,df_air, how = 'left', on = 'airport_ident')

In [ ]:
df_sub

In [ ]:
df3 = pd.read_csv("airports.csv")
df3 = df3[df3['iso_country'] == "US"]

In [ ]:
for i in df3['municipality'].keys():
    df3['municipality'][i] = str(df3['municipality'][i]).lower()

In [ ]:
df_city_with_ident = pd.merge(df3,df_city,how = 'inner', on = 'municipality')

In [ ]:

df2 = df2.rename(columns={'airport_ident':'ident'})
df_runway = pd.merge(df2,df_city_with_ident, how = 'inner', on = 'ident')
df_runway = pd.merge(df_city,df_runway,on = 'municipality')
RW_MEAN = df_runway.groupby(['ABBR_x']).mean()
RW_SUM = df_runway.groupby(['ABBR_x']).sum()
RW_SUM = RW_SUM[['length_ft','width_ft']]
RW_MEAN = RW_MEAN[['length_ft','width_ft']]

RW = RW_SUM['length_ft'].to_frame().join(RW_MEAN['width_ft'].to_frame())

In [ ]:
RW

In [ ]:
RW_MEAN.to_csv('runway_mean.csv')

In [ ]:
RW_SUM.to_csv('runway_sum.csv')

In [ ]:
RW.to_csv('runway_sumL_meanW.csv')

In [ ]:
df_NV = pd.read_csv("navaids.csv")

In [ ]:
df_NV = df_NV[df_NV['iso_country'] == 'US']
df_NV

In [ ]:
df_air = df_air.rename(columns = {'City':'municipality'})
df_air[df_air['Site_Num'] == 22]
#df_one = pd.merge(df_air,df_city,how = 'inner', on = 'municipality')
#df_Inspection = df_one['Last_Inspection'].dropna()
#df_time = df_one[['Activation_Date','municipality']].groupby('municipality')

In [ ]:
d = {'Facility Name': 'Goroka Airport','City': 'Goroka', 'Country':Papua }