In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
sns.set()
sns.set_context('talk')

import warnings
warnings.filterwarnings('ignore')

import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

In [103]:
airport_loc_df = pd.read_csv("datasets/cleaned/airport_loc.csv")

In [104]:
airport_loc_df.head()

  airport_code city_name code4   latitude   longitude  altitude_ft
0          BTI    barter  PABA  70.134003 -143.582001            2
1          K03      fort  PAWT  70.613403 -159.860001           35
2          LUR      cape  PALU  68.875099 -166.110001           16
3          PIZ     point  PPIZ  69.732903 -163.005005           22
4          ITO      hilo  PHTO  19.721399 -155.048004           38

In [105]:
airport_runways_df=pd.read_csv("datasets/original/airport/runways.csv")

In [106]:
airport_runways_df = airport_runways_df.rename(columns = {"airport_ident":"code4"})

In [107]:
airport_runways_df.columns

Index(['id', 'airport_ref', 'code4', 'length_ft', 'width_ft', 'surface',
       'lighted', 'closed', 'le_ident', 'le_latitude_deg', 'le_longitude_deg',
       'le_elevation_ft', 'le_heading_degT', 'le_displaced_threshold_ft',
       'he_ident', 'he_latitude_deg', 'he_longitude_deg', 'he_elevation_ft',
       'he_heading_degT', 'he_displaced_threshold_ft'],
      dtype='object')

In [108]:
airport_runways_df = pd.merge(airport_runways_df,airport_loc_df, how = 'inner', on = 'code4')

In [109]:
airport_runways_df = airport_runways_df[["code4", "airport_code", "length_ft", "width_ft"]]

In [111]:
airport_runways_df

     code4 airport_code  length_ft  width_ft
0     07FA          OCA     4500.0      70.0
1      5A8          WKK     2040.0      80.0
2     HI07          WKL       26.0      26.0
3     K0V4          0V4     3798.0      60.0
4     K19S          19S     2300.0     100.0
...    ...          ...        ...       ...
2630  XS46          S46     2200.0      75.0
2631  XS46          S46     2400.0      75.0
2632  XS46          S46       50.0      50.0
2633  YCWR          CWT     3825.0      60.0
2634  YCWR          CWT     5348.0      98.0

[2635 rows x 4 columns]

In [118]:
runways_sum_df = airport_runways_df.groupby(['airport_code']).sum()
runways_mean_df = airport_runways_df.groupby(['airport_code']).mean()

In [117]:
runway_final_df = runways_sum_df["length_ft"].to_frame().join(runways_mean_df["width_ft"].to_frame())
runway_final_df.columns = ["length_ft_sum", "width_ft_avg"]

runway_final_df

              length_ft_sum  width_ft_avg
airport_code
0V4                  3798.0     60.000000
19S                  6800.0     80.000000
23M                  3200.0     60.000000
2A5                  3800.0     40.000000
2H0                  9948.0    158.333333
...                     ...           ...
Z84                  4000.0    100.000000
ZPH                 10073.0    100.000000
ZSY                  8249.0    100.000000
ZUN                  4807.0     50.000000
ZZV                  9999.0    150.000000

[1341 rows x 2 columns]

In [76]:
df_runway = pd.merge(df_sub,df2, how = 'inner', on = 'airport_ident')

KeyError: 'airport_ident'

In [ ]:
df_city = pd.read_csv("cities_need.csv")
df_city.columns = ['ident','municipality']
df_single = pd.DataFrame([['ABE','allentown']],columns = ['ident','municipality'])
df_city = pd.concat([df_single, df_city]).reset_index(drop = True) 
df_city.to_csv('cities_needed.csv')

In [ ]:
df_RW = df_runway.merge(df_city, on = 'ident')

In [ ]:
df_airport_needed = df_city.merge(df_sub, how = 'left', on = 'ident')

In [ ]:
df_AP = pd.read_csv("airport_poneeded.csv")

In [ ]:
df_air = pd.read_csv('Airports_date.csv')
for i in df_air['City'].keys():
    df_air['City'][i] = str(df_air['City'][i]).lower()

In [ ]:
df_air = df_air[['Loc_Id','Activation_Date','Last_Inspection']]
df_air = df_air.rename(columns = {'Loc_Id':'airport_ident'})
df_air['Activation_Date'].isnull().sum()

In [ ]:
df_AAA = df_airport_needed.merge(df_air, how = 'left', on = 'airport_ident')

In [ ]:
df_AAA

In [ ]:
df_AAA['Activation_Date'].isnull().sum()

In [ ]:
df = pd.merge(df_sub,df_air, how = 'left', on = 'airport_ident')

In [ ]:
df_sub

In [ ]:
df3 = pd.read_csv("airports.csv")
df3 = df3[df3['iso_country'] == "US"]

In [ ]:
for i in df3['municipality'].keys():
    df3['municipality'][i] = str(df3['municipality'][i]).lower()

In [ ]:
df_city_with_ident = pd.merge(df3,df_city,how = 'inner', on = 'municipality')

In [ ]:

df2 = df2.rename(columns={'airport_ident':'ident'})
df_runway = pd.merge(df2,df_city_with_ident, how = 'inner', on = 'ident')
df_runway = pd.merge(df_city,df_runway,on = 'municipality')
RW_MEAN = df_runway.groupby(['ABBR_x']).mean()
RW_SUM = df_runway.groupby(['ABBR_x']).sum()
RW_SUM = RW_SUM[['length_ft','width_ft']]
RW_MEAN = RW_MEAN[['length_ft','width_ft']]

RW = RW_SUM['length_ft'].to_frame().join(RW_MEAN['width_ft'].to_frame())

In [ ]:
RW

In [ ]:
RW_MEAN.to_csv('runway_mean.csv')

In [ ]:
RW_SUM.to_csv('runway_sum.csv')

In [ ]:
RW.to_csv('runway_sumL_meanW.csv')

In [ ]:
df_NV = pd.read_csv("navaids.csv")

In [ ]:
df_NV = df_NV[df_NV['iso_country'] == 'US']
df_NV

In [ ]:
df_air = df_air.rename(columns = {'City':'municipality'})
df_air[df_air['Site_Num'] == 22]
#df_one = pd.merge(df_air,df_city,how = 'inner', on = 'municipality')
#df_Inspection = df_one['Last_Inspection'].dropna()
#df_time = df_one[['Activation_Date','municipality']].groupby('municipality')

In [ ]:
d = {'Facility Name': 'Goroka Airport','City': 'Goroka', 'Country':Papua }